/**/

.container{
    box-shadow: rgba(17, 17, 26, 0.05) 0 1px 0, rgba(17, 17, 26, 0.1) 0 0 8px;
    padding: 20px 10px 10px;
    border-radius: 12px;
    position: relative;
}
.element{
    display: flex;
    gap: 10px;
}